.Container{width:15%; height:455px; background-color:rgb(184, 180, 180);}
button{width:25%;height:50px;padding: 43px;}
.Display{width:97%; height:100px; background-color:white;border:rgb(184, 180, 180);border-style: solid;padding: 0px;font-size: xxx-large;}